
extends ../layout

block content
    h2.mt-5 Lista de todos los empleados
        a.btn.btn-info.btn-sm(href="/empleados/new") Crear Nuevo empleado
    table.table
        thead
            tr
                th Nombre
                th DNI 
                th Sexo
                th Fecha_nacimiento
                th Fecha_incorporacion
                th Salario
                th Cargo
                th fk_Departamento
                th fk_jefe
                th Acciones
        tbody
            each empleado in empleados
                tr
                    td=empleado.nombre
                    td=empleado.dni
                    td=empleado.sexo
                    td=empleado.fecha_nacimiento
                    td=empleado.fecha_incorporacion
                    td=empleado.salario
                    td=empleado.cargo
                    td=empleado.fk_departamento
                    td=empleado.fk_jefe
                    td 
                        a.btn.btn-danger.btn-sm.ml-1(href="/empleados/delete/"+empleado.id) Borrar
                        a.btn.btn-primary.btn-sm.ml-1(href="/empleados/edit/"+empleado.id) Editar                   